$title-text-color: #212121;
$modal-border-color: #21212133;
$mouse-hover-object-color: #2196F3;
$hover-overlay-color: #2195f3e6;
$p-text-color: #757575;
$modal-placeholder-color: #75757580;
$menu-divider-color: #75757520;
$icon-dormant-color: #AFB1B8;
$first-section-bg-color: #2F303A;
$image-section-text-bg-color: #2f303acc;
$third-section-bg-color: #F5F4FA;
$pure-white: #FFFFFF;
$main-item-border-color: #EEEEEE;
$pure-black: #000000;
$sixty-percent-white: #ffffff99;
$thirty-percent-white: #ffffff4d;
$ten-percent-white: #ffffff1a;
$first-section-gradient-color: #2f303a66;