.first__section {
    height: 600px;
    background-image: linear-gradient($first-section-gradient-color, $first-section-gradient-color), url(../images/first_section_background.jpg);
    background-repeat: no-repeat;
    background-position: center;

    &__header {
        width: 696px;
        @include font-desc(44px, 1.36, 400);
        text-align: center;
        letter-spacing: 0.06;
        margin: 0 auto;
        padding-top: 200px;
        margin-bottom: 30px;
        color: $pure-white;
    }
    
    &__button {
        display: block;
        color: $pure-white;
        background-color: $mouse-hover-object-color;
        @include font-desc(16px, 1.875, 700);
        letter-spacing: 0.06;
        text-align: center;
        padding: 10px 32px;
        margin: 0 auto;
        border-radius: 4px;
    }
}