.second__section {
    &__item {
        display: inline-block;
        width: 270px;
        height: 248px;
        text-overflow: clip;
        
    }
    
    &__header {
        @include font-desc(14px, 1.143, 700);
        margin-top: 30px;
        margin-bottom: 10px;
        color: $title-text-color;
    }
    
    &__text {
        @include font-desc(14px, 1.714, 400);
    }
    
    &__list {
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        margin: 94px auto;
    }
}