.third__section {
    background: $third-section-bg-color;

    &__title {
        text-align: center;
        @include font-desc(36px, 1.16, 400);
        padding-top: 94px;
        margin-bottom: 50px;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-bottom: 94px;
        margin-bottom: 0px;
    }
    
    &__header {
        @include font-desc(16px, 1.17, 500);
        color: $title-text-color;
    }
    
    &__item {
        text-align: center;
        display: block;
        width: 270px;
        height: 428px;
        background-color: $pure-white;
    }
}

.icon__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
}

.icon__svg {
    width: 20px;
    height: 20px;
}

.icon__link {
    display: inline-block;
    fill: $icon-dormant-color;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $mouse-hover-object-color;
        fill: $pure-white;
    }
}